.signup {
  width: 100vw;
  padding: 180px 0 100px;

  .signupInner {
    width: 460px;
    margin: 0 auto;

    .logo {
      height: 50px;
      font-size: 4.5rem;
      font-weight: 900;
      text-align: center;

      img {
        height: 60px;
      }
    }
    h2 {
      margin: 20px 0;
      font-size: 2.8rem;
      font-weight: 300;
    }

    .signupInput {
      margin-top: 50px;

      .singupName {
        input {
          width: 100%;
        }
      }
      input {
        width: 100%;
        height: 48px;
        margin-bottom: 20px;
        padding: 13px;
        border: 1px solid #444;
        border-radius: 10px;
        font-size: 1.6rem;
      }
      .outgreen {
        outline: 1px solid green;
      }
      .outred {
        outline: 1px solid red;
      }
      span {
        display: block;
        margin: -12px 10px 12px;
        font-size: 1.2rem;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    }

    .serviceTerms {
      width: 85%;
      margin: 20px auto;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 24px;

      input#terms {
        width: 15px;
        height: 15px;
        vertical-align: bottom;
      }

      input#terms:checked {
        accent-color: #111;
        background-color: #444;
      }
    }

    .signupBtn {
      width: 100%;
      height: 60px;
      margin-top: 20px;
      border-radius: 50px;
      background-color: #111;
      color: #fff;
      font-size: 1.6rem;
      cursor: pointer;

      &:disabled {
        opacity: 0.6;
      }
    }
    .link {
      display: block;
      width: 100%;
      margin-top: 20px;
      color: #666;
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
