.fontSize {
  font-size: 2rem;
}

.container {
  margin: 100px auto 40px;
  width: 1200px;

  .cart {
    display: flex;
    justify-content: space-between;
  }

  .cartContainer {
    width: 770px;
    margin-right: 20px;
  }

  .titleWord {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .orderList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .order {
    margin-bottom: 24px;
  }

  .orderFlex {
    display: flex;
    justify-content: space-between;
    width: 370px;
  }

  .orderPriceWrap {
    margin-bottom: 20px;
  }

  .deliveryWrap {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  .totalPriceWrap {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  .orderbtnWrap {
    margin-top: 30px;
    text-align: center;
  }

  .orderBtn {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 36px;
    font-size: 2rem;
    padding: 24px 30px;
  }

  .wishList {
    margin-top: 10px;
    margin-bottom: 20px;
    color: blue;
  }
}
