.fontSize {
  font-size: 2rem;
}

.container {
  margin: 100px auto 40px;
  width: 1200px;
  // position: relative;
  .titleContainer {
    position: relative;
  }

  .allCheckBox {
    // position: absolute;
    // left: 0%;
    // bottom: 10px;
    display: inline;
  }

  .check {
    margin-right: 10px;
    zoom: 1.2;
    accent-color: #111;
  }

  .cart {
    display: flex;
    justify-content: space-between;
  }

  .cartContainer {
    width: 770px;
    margin-right: 20px;

    .cartInner {
      height: 650px;
      overflow: scroll;
    }
  }

  .titleWord {
    font-size: 3.5rem;
    margin-bottom: 25px;
    padding-bottom: 30px;
  }

  .titleCart {
    display: inline;
  }

  .orderList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .order {
    margin-bottom: 24px;
  }

  .orderFlex {
    display: flex;
    justify-content: space-between;
    width: 370px;
  }

  .orderPriceWrap {
    margin-bottom: 20px;
  }

  .deliveryWrap {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  .totalPriceWrap {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  .orderbtnWrap {
    margin-top: 30px;
    text-align: center;
  }

  .orderBtn {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 36px;
    font-size: 2rem;
    padding: 24px 30px;
  }
}
