/* stylelint-disable selector-class-pattern */
// /* stylelint-disable-next-line selector-class-pattern */
.filter {
  width: 220px;
  // border: 1px solid #ddd;
  color: #111111;
  font-size: 1.6rem;

  .filterInner {
    width: 85%;
    margin: 0 auto;

    .filterLayout {
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd;

      h3 {
        margin: 15px 0 20px;
        font-weight: 600;
      }
    }

    .checkBoxList {
      margin-bottom: 10px;

      .checkBoxInput {
        display: none;
        cursor: pointer;
      }

      label {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #bcbcbc;
        cursor: pointer;
      }

      input[id='checkWomen']:checked + label {
        background-color: #333;
      }
      input[id='checkMen']:checked + label {
        background-color: #333;
      }

      .selectTitle {
        margin-left: 5px;
        vertical-align: top;
      }
    }

    .productPrice {
      input {
        display: block;
        width: 90%;
        margin: 0 auto;
        border-radius: 8px;
        outline: none;
        background: #bdbdbd;
        -webkit-appearance: none;
        accent-color: #333;
      }
      .showPrice {
        width: 90%;
        margin: 10px auto;
      }
    }

    .productSize {
      .sizeBtnWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .label {
          width: 55px;
          height: 36px;
          margin: 3px;
          border: 1px solid #ccc;
          border-radius: 5px;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
        }

        .label:hover {
          border: 1px solid #333;
        }

        input[type='radio'] {
          -webkit-appearance: radio;
          &:checked + .label {
            border: 1px solid #333;
          }
        }

        .radio {
          position: absolute;
          height: 0px;
          overflow: hidden;
        }
      }
    }

    .productColor {
      .colorBtnWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      .colorLayout {
        width: 65px;
        height: 65px;
        font-size: 1.2rem;
        text-align: center;
        cursor: pointer;

        /* stylelint-disable-next-line max-nesting-depth */
        .showColor {
          display: block;
          width: 28px;
          height: 28px;
          margin: 0 auto;
          margin-bottom: 5px;
          border: 1px solid #ddd;
          border-radius: 50%;
          text-indent: -9999px;
        }
      }
    }
  }
}
