.prdBox {
  width: 26vw;
  height: 560px;
  margin-bottom: 10px;
  

  &:hover{
    cursor: pointer;
  }
  img {
    width: 24vw;
    height: 375px;
  }
  
  .contentBox{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 24vw;
    height: 185px;

    div{
        padding: 10px 10px 10px 0px;
    }

    .nowState, .price{
        font-size: 2rem;
        font-weight: bold;
    }

    .prdName{
        color: #757575;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .price{
      margin-top: 20px;
    }
  }
}
