.reviewWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #111, $alpha: 0.6);

  .reviewContainer {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
    height: 300px;
    transform: translate(-50%, -50%);
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    gap: 10px;
    background-color: #fff;

    h3 {
      width: 85%;
      margin: 30px auto;
      margin-bottom: 10px;
      font-size: 2.2rem;
      font-weight: 500;
    }

    .reviewInner {
      width: 85%;
      height: 210px;
      margin: 0 auto;

      .reviewTitle {
        display: block;
        width: 100%;
        margin-top: 10px;
        border-style: none;
        outline: none;
        font-size: 1.8rem;
        font-weight: 500;
      }

      .reviewInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
        font-size: 1.6rem;

        li {
          width: 200px;
        }
      }

      .reviewVal {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 1.6rem;

        .reviewSelect {
          width: 50px;
          margin-left: 10px;
          border-style: none;
          outline: none;
        }
      }

      .reviewInput {
        width: 100%;
        height: 80px;
        margin-top: 10px;
        border-style: none;
        outline: none;
        font-weight: 1.6rem;
      }
      .reviewBtn:hover {
        background-color: rgb(90, 90, 90);
      }
      .reviewBtn {
        display: block;
        width: 35%;
        height: 30px;
        margin: 0 auto;
        margin-top: 10px;
        border: none;
        border-radius: 40px;
        background-color: #111;
        color: white;
        font-size: 1.4rem;
        cursor: pointer;
      }
      .postReview {
        margin-bottom: 20px;
      }
    }
    .showReviewInner {
      height: 190px;
      overflow-y: scroll;
    }

    .reviewDetail {
      margin: 15px 0 10px;
      font-size: 1.5rem;
    }

    .changeBtn {
      width: 16px;
      margin-left: 7px;
    }
  }
}
