.PayReview {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;

  .showReview {
    width: 100%;

    h3 {
      font-size: 2.8rem;
      font-weight: 500;
    }

    .showReviewInner {
      display: flex;
      flex-direction: column;
      height: 332px;
      margin-top: 50px;
      overflow: auto;

      table {
        background-color: #fff;

        thead {
          position: sticky;
          top: 0px;
          height: 50px;
          border: 1px solid #bcbcbc;
          background-color: #eee;
          font-size: 1.6rem;

          .postId {
            width: 20%;
            font-weight: 700;
            vertical-align: middle;
          }
          .postTitle {
            width: 20%;
            vertical-align: middle;
          }

          .postScore {
            width: 8%;
            vertical-align: middle;
          }

          .postText {
            width: 40%;
            vertical-align: middle;
          }
          .postChange {
            width: 12%;
            vertical-align: middle;
          }
        }
        tbody {
          margin-bottom: 10px;
          border: 1px solid #bcbcbc;

          .postId {
            font-weight: 700;
          }

          td {
            height: 70px;
            font-size: 1.5rem;
            text-align: center;
            vertical-align: middle;

            img {
              width: 18px;
              margin-left: 7px;
            }
          }
        }
      }
    }
    .showReviewInner::-webkit-scrollbar {
      width: 10px;
    }
    .showReviewInner::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
    }
    .showReviewInner::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #fff;
    }
  }
}
