.rightContainer {
  width: 370px;
  margin-left: 30px;
  .title {
    font-size: 3.2rem;
  }
  .description {
    margin-top: 15px;
    font-size: 2rem;
  }
  .price {
    margin-top: 20px;
    font-size: 2rem;
  }
  .Size {
    margin-top: 40px;
    font-size: 1.8rem;
  }
  .sizeButton {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .label:hover {
      border-color: rgb(90, 90, 90);
    }
    .label {
      margin: 5px;
      padding: 18px 13px;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      font-size: 2rem;
      cursor: pointer;
    }
    input[type='radio'] {
      -webkit-appearance: radio;
      &:checked + .label {
        border-color: rgb(90, 90, 90);
      }
    }
    .radio {
      position: absolute;
      height: 0px;
      overflow: hidden;
    }
  }
  .nowBtn:hover {
    background-color: rgb(90, 90, 90);
  }
  .nowBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .basketBtn:hover {
    background-color: rgb(90, 90, 90);
  }
  .basketBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .infor {
    summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      border-top: 1px solid #e5e5e5;
      cursor: pointer;
      h3 {
        margin-top: 20px;
        font-size: 2.2rem;
      }
      .arrow {
        margin-top: 20px;
        transform: rotateX(50deg);
        font-size: 2.8rem;
        vertical-align: middle;
      }
      .directionImg {
        width: 16px;
      }
    }
    .productInforTitle {
      margin-top: 20px;
      font-size: 2rem;
    }
    .productInfor {
      margin: 20px;
      font-size: 2rem;
      list-style: disc;
      li {
        margin: 10px;
        font-size: 1.6rem;
        line-height: 24px;
      }
    }
  }
}
