@import '../../styles/mixin';

.navWrap {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  // overflow-x: hidden;

  .signBar {
    @include flex(end, center);
    width: 100vw;
    height: 36px;
    padding-right: 3vw;
    background-color: #f5f5f5;
    font-size: 1.4rem;
    gap: 1vw;

    p {
      height: 17px;
      padding-left: 10px;
      border-left: 2px solid #cedaeb;

      &:nth-child(1) {
        border: none;
      }

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .navBox {
    @include flex(space-between, center);
    width: 100vw;
    height: 67px;
    margin: 0 auto;
    padding-right: 3vw;
    padding-left: 2vw;
    background-color: #fff;

    img {
      width: 24px;
      height: 24px;
    }

    .navLogo {
      display: flex;
      align-items: center;
      width: 280px;
      height: 67px;
      margin-top: -7px;
      margin-bottom: -7px;
      font-size: 3rem;
      font-weight: 900;
      img {
        width: 80px;
        height: 80px;
      }
    }

    .navMain {
      @include flex(space-between, center);
      width: 450px;
      height: 67px;
      font-size: 2rem;

      li {
        @include flex(center, center);
        width: 150px;
        height: 67px;

        &:hover {
          border-bottom: 2px solid black;
          cursor: pointer;
        }
      }
    }

    .navRight {
      @include flex(space-around, center);
      width: 280px;

      .searchArea {
        @include flex(baseline, center);
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 100px;
        background-color: #f5f5f5;
        gap: 10px;

        .magnifyimg {
          @include flex(center, center);
          width: 40px;
          height: 36px;
          margin-left: 2px;
          border-radius: 50px;
          background-color: none;

          &:hover {
            background-color: #cccfd8;
            cursor: pointer;
          }
        }

        .searchInput {
          display: flex;
          position: relative;
          width: 150px;
          height: 30px;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 2rem;
        }
      }
    }
  }

  .searchBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350px;
    background-color: #ffffff;

    .searchBoxIn {
      @include flex(space-between, center);
      width: 100vw;
      height: 67px;
      padding-right: 3vw;
      padding-left: 2vw;
      background-color: #ffffff;

      .navLogo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 67px;
        font-size: 3rem;
        font-weight: 900;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .searchMain {
      @include flex(normal, center);
      width: 700px;
      height: 40px;
      border-radius: 100px;
      background-color: #f5f5f5;

      .magnifyimg {
        @include flex(center, center);
        width: 40px;
        height: 36px;
        margin-left: 2px;
        border-radius: 50px;
        background-color: none;
        background-color: #f5f5f5;

        &:hover {
          background-color: #cccfd8;
          cursor: pointer;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }

      input {
        width: 630px;
        height: 40px;
        border: none;
        outline: none;
        background-color: #f5f5f5;
        font-size: 2rem;
        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        cursor: pointer;
      }

      .filterBox {
        @include flex(center, center);
        position: absolute;
        z-index: 1;
        top: 67px;
        left: 0px;
        width: 100vw;
        height: 350px;
        background-color: #ffffff;

        .innerFilterBox {
          display: flex;
          align-items: center;
          width: 68vw;
          height: 350px;
          gap: 40px;
          overflow: auto;

          .filterId {
            @include flex(space-between, normal);
            flex-direction: column;
            width: 130px;
            height: 220px;
            background-color: #ffffff;

            .filterImg {
              width: 130px;
              height: 160px;
              margin-bottom: 10px;
            }

            .filterProduct {
              @include flex(space-between, normal);
              flex-direction: column;
              width: 130px;
              height: 60px;
              background-color: #ffffff;

              p {
                font-size: 1.5rem;
                font-weight: 700;
              }
            }
          }
        }
        .innerFilterBox::-webkit-scrollbar {
          height: 5px;
        }
        .innerFilterBox::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #444;
        }
        .innerFilterBox::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #eee;
        }
      }
    }
    .closeBox {
      @include flex(end, center);
      width: 200px;
      height: 40px;
      font-size: 2rem;
      font-weight: 900;

      & > p:hover {
        color: #c8c8c8;
        cursor: pointer;
      }
    }
  }
  .popularSearchBox {
    @include flex(baseline, center);
    position: relative;
    left: 50%;
    width: 47vw;
    height: 270px;
    transform: translate(-50%);

    .popularSearch {
      @include flex(space-around, baseline);
      flex-direction: column;
      width: 200px;
      height: 200px;
      font-size: 2rem;
      font-weight: 900;

      p {
        color: #c8c8c8;
        font-size: 1.5rem;
        font-weight: 500;
      }

      li:hover {
        color: #c8c8c8;
      }
    }
  }

  .navUnder {
    @include flex(center, center);
    position: absolute;
    width: 100vw;
    height: 200px;
    background-color: #ffffff;

    ul {
      @include flex(space-around, center);
      flex-direction: column;
      width: 180px;
      height: 150px;
      margin-left: -1vw;
      font-size: 1.8rem;

      li {
        color: #757575;
      }
      li:hover {
        color: black;
      }
    }
  }
}
